# EditorConfig is awesome: https://editorconfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for JavaScript / TypeScript / TSX / JSX
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 4

# SCSS / CSS files
[*.{css,scss,sass}]
indent_style = space
indent_size = 4

# JSON / Markdown
[*.{json,md}]
indent_style = space
indent_size = 2