.headerProfile {

    margin-left: 5%;
    margin-right: 5%;

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 15vh;

    right: 100px;
    border-top: 1px solid #030303;
    border-bottom: 1px solid #030303;
}

.nameUser {
    padding: 2%;

    span {
        font-size: 32px;
        font-weight: bold;
    }


}

.listItemMain {
    min-width: 150px;
    display: flex;
    gap: 15%;
    padding: 0.5%;
    border: 1px solid #000000;
    border-radius: 10px;
}
.listItemMainActive{
    min-width: 150px;
    display: flex;
    gap: 15%;
    padding: 0.5%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #030303;
    color: #ffffff;
}
