// Fonts
$font-family: Arial, sans-serif;

// Main colors
$color-white: #ffff;
$color-white-fa: #fafafa;
$color-black: #000;
$color-blue: #2563eb;
$color-gray: #a4a1aa;
$color-dark: #131118;

// Font sizes
$font-size: 16px; /* text-base */
$font-size-lg: 24px; /* h1 */

// Line heigh
$line-height: 30px; /* h1 */

// Font Weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Layout
$layout-desktop: 1440px;

// Spacing
$padding-desktop: 80px;
$padding-tablet: 60px;
$padding-mobile: 30px;

$padding-input: 16px;
$padding-button: 18px;

// Gaps
$gap-xs: 6px;
$gap-sm: 10px;
$gap-md: 14px;
$gap-lg: 18px;
$gap-xl: 20px;
$gap-xxl: 40px;

// Borders
$border-radius: 10px;
$border-width: 1px;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

// Widths
$max-width-form: 420px;

// Additional font sizes
$font-size-sm: 12px;
